/* iprsam jah ffftcbbw */
body {

    background-image: url("pexels-central-park-2178505.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;

}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-size: 5em;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;

}